@import '../../styles/variables';

.bottom-tabs-wrapper{
    border-radius: 12px 12px 0 0;
    box-shadow:  1px 1px 20px #f9afeb74;
    @media screen and (min-width: 520px) {
        display: none;
    }
}